@font-face {
    font-family: Orelega One;
    src: url(/font/OrelegaOne-Regular.ttf);
}
@font-face {
    font-family: Days One;
    src: url(/font/Days_One/DaysOne-Regular.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(/font/Lobster/Lobster-Regular.ttf);
}
@font-face {
    font-family: Comfortaa;
    src: url(/font/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
    font-family: Balsamiq Sans;
    src: url(/font/Balsamiq_Sans/BalsamiqSans-BoldItalic.ttf);
}
@font-face {
    font-family: Marmelad;
    src: url(/font/Marmelad/Marmelad-Regular.ttf);
}
