@media screen and (max-width: 440px){
    .header-shapka ul{
        display: flex;
        position: absolute;
        right: 0px;
        width: 1116px;
        z-index: 1;
    }
    .header-climn{
        width: 1289px;
        
    }
    .primary-img{
        position: absolute;
    width: 267px;
    left: 835px;
    top: 141px;
    }
    .cl-1{
        position: relative;
        top: -269px;
        left: 500px;
    }
    .section-1-title{
        right: 30px;
            width: 888px;
    }
    .cl-1 img{
        width: 791px;
        height: 290px;
    }
    .header-shapka{
        width: 1181px; 
    }
    .section-3{
        top: 1069px;
        width: 1322px;
    }
    .section-1{
        width: 1322px;
    }
    .conteiner{
        width: 1324px;
    }
    .section-header-cont{
        display: block;
        top: -308px;
        position: relative;
        width: 420px;
        height: 829px;
        align-items: center;
    }
    .section-header-title{
        font-size: 30px;
    text-align: start;
    top: 590px;
    left: 48px;

    }
    .section-header-img{
        top: 369px;
    left: 778px;
    }
    .section-header-img img{
        width: 471px;

    }

}
