*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
*, ::before, ::after {
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 15px;

}
::-webkit-scrollbar-track{
    background: rgb(28, 108, 212);
    
}
::-webkit-scrollbar-thumb{
    background: cyan;
    border-radius: 9px;
    border: 3px solid blueviolet;
}
ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color: black;
}

.backraund{
    position: absolute;
    background: url(./img/tatk.jpg.crdownload) no-repeat;
    width: 1920px;
    height: 100vh;
    background-size: 200% 100%;
            animation: gradient 11s ease infinite;
            overflow-x: hidden;

}

.header{
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 6;
    
}
.conteiner{
    margin: 0% auto;
    width: 1500px;
}
.header-logo img{
    width: 100px;
}
.header-logo{
    position: absolute;
    top: 20px;
}
.header-climn{
    position: fixed;
    width: 1500px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-shapka{
    position: relative;
    z-index: 5;
    width: 1455px;
    height: 100px;
    background-color: rgb(0 0 0 / 23%);
    border-radius: 15px;
    font-family: sans-serif;
    cursor: pointer;
}
.header-shapka>ul{
    display: flex;
    position: absolute;
    right: 0px;
    width: 1335px;
    z-index: 1;
}
.header-shapka li{
    text-align: center;
    width: 200px;
    list-style: none;
    position: relative;
}
.header-shapka>ul>li>a{
    color: white;
    font-weight: 800;
}
.header-shapka a{
    display: block;
    height: 100px;
    line-height: 20px;
    transition: all .5s;
    padding-top: 40px;
        
}
.header-logo a{
    padding-top: 0%;
}
.header-shapka a:hover:not(.header-logo>a){
    background: rgba(255, 255, 255, 0.486);
}
.header-shapka>ul>li:last-child a{
    border-radius: 10px;
}
.navy li{
    width: 300px;
}
.header-shapka ul li ul{
    display: none;
    position: absolute;
    
}
.header-shapka ul li ul li{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
   
}
.header-shapka ul li ul li:hover {
    background-color: crimson;
    transform: scale(7deg);
    color: deepskyblue;
}
.header-shapka li:hover ul{
    display: block;
    background-color: rgba(246, 250, 249, 0.582);
}

.section-header{
    position: relative;
    width: 100vw;
    height: 100vh;

}
.section-header-title{
    font-size: 30px;
    
    font-family: 'Days One', sans-serif;
    position: relative;
    font-size: 35px;
    text-align: start;
    top: -2px;
    left: 32px;
}
.section-header-cont{
    display: grid;
    width: 1500px;;
    height: 829px;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.section-header-img{
    position: relative;
    top: 125px;
    left: 57px;
}
.section-header-img img{
    width: 850px;
}
.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 2s linear both;
	        animation: text-flicker-in-glow 1s linear both;
}

.section-1{
    position: relative;
    background: radial-gradient(#00d0ff, transparent);
    font-family: Lobster,sans-serif;
    color: white;
    z-index: 2;
    height: 5779px;
}
.section-1-count{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
}
.section-1-title{
    position: relative;

    top: 50px;
    width: 1000px;
    height: 300px;
    text-align: center;
    line-height: 1.6;
    font-size: 1.5em;
}
.section-1-title h1{
    font-family: Days One,sans-serif;
}
.section-1-title p{
    text-align: justify;
    color: #2d154c;
}
.college-director{
    position: relative;
    top: 50px;
    left: 50px;
    width: 313px;
    text-align: center;
    background-color: #0000006b;
    box-shadow: #545454 -3px 5px;
}
.direcor-img img{
    width: 300px;
    border: 5px solid mediumvioletred;

}
.college-director{
    position: relative;
}  
.college-director ul{
    position: relative;
    top: 21px;
    text-align: start;
    line-height: 2;
    left: 63px;
    font-size: 17px;
}
.college-director a{
    color: bisque;
}
.college-director a:hover{
    color: darksalmon;
}
.aside-1-img{
    margin: 37px;
}
.college-director>h1{
    padding: 10px;

}
.college-director>p{
    font-family: Comfortaa,sans-serif;
    line-height: 2;

}

.college-director>.btn{
    width: 200px;
    height: 30px;
    background-color: cyan;
    border-radius: 20px;
    border-color: darkgoldenrod;
}
.sc-1-img{
    position: relative;
    top: -355px;
    left: 500px;
}

.cl-1 img{
    width: 1010px;
    height: 370px;
}

.section-2{
    position: absolute;
    top: 2010px;
    z-index: 3;
    width: 100%;
    
}
.special-cont{
    padding: 60px;
    font-family: Balsamiq Sans;
}
.con-block{
    position: relative;
    top: 89px;
    height: 3743px;
    background-color: #74c3c3;
    text-align: center;
    font-size: 20px;
}
.section-2-box{
    width: 100%;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: 1fr;
    grid-gap: 30px;
    justify-content: center;
}
.special-box{
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.575);
}
.special-box img{
    width: 300px;
    height: 200px;
    background-size: cover;
}
.primary-pos{
    position: relative;
    top: 100px;
    text-align: start;
    width: 800px;
}
.primary-img{
    position: absolute;
    width: 272px;
    left: 984px;
    top: 141px;
}
.ty{
    position: absolute;
    right: -152px;
    top: 109px;
    height: 198px;
    width: 284px;

}
.ty-2{
    position: absolute;
    right: -152px;
    top: 314px;
    height: 198px;
    width: 284px;

}
.ty-3{
    position: absolute;
    right: -152px;
    top: 519px;
    height: 198px;
    width: 284px;

}
.ty-4{
    position: absolute;
    right: -152px;
    top: 724px;
    height: 198px;
    width: 284px;

}
.ty-5{
    position: absolute;
    right: -152px;
    top: 929px;
    height: 198px;
    width: 284px;

}
.primary-img-box{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-size: cover;
    background-position: center;
}
.primary-img-box img{
    width: 300px;
}

.primary-pos>h1{
    text-align: center;

}
.primary-pos>ul{
   position: relative;
   width: 794px;
   top: 50px;
}
.primary-pos .sub{
    margin: 20px;
    padding: 30px;
}
.primary-pos ul > div{
    border-radius: 40px;
    font-family: Marmelad, sans-serif;
}
.sub p + ul{
    font-size: 14px;
    color: aquamarine;
    list-style: disc;

}
.primary-1{
    background: linear-gradient(
61deg, #f50dee, transparent);
    border-radius: 40px;
}
.primary-2{
    background: linear-gradient(
45deg, #0037fffc, transparent);
}
.primary-3{
    background: linear-gradient(
        45deg, #ff7575, transparent);
}
.primary-4{
    background: linear-gradient(
        45deg, #38355e, transparent);
}
.primary-5{
    background: linear-gradient(
45deg, #f97121f0, transparent);
}
.primary-6{
    background: linear-gradient(
45deg, #000000d4, transparent);
}
.primary-7{
    background: linear-gradient(
        45deg, #00ef3eb8, transparent);
}
.primary-8{
    background: linear-gradient(
45deg, #624141, transparent);
}
.primary-9{
    background: linear-gradient(
        45deg, #d9ff0bb8, transparent);
}
.primary-10{
    background: linear-gradient(
45deg, #bb4040, transparent);

}
/* ------------<embed src="/img/1111.pdf" width="400px" height="500px" />-------*/
.section-3{
    width: 100%;
    height: 5780px;
    background-color: #7a00fff2;
    position: absolute;
    top: 890px;
}
